// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_campaign_image{
	width: 300px;
    height: 300px;
    boarder: 1;
}
.style_campaign_tag_image{
	width: 200px;
    height: 200px;
}