// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_header_image{
	width: 1000px;
    height: 200px;
}
body {
    background: asset_url('bg-6-full.jpg')
}